.sectionTop { 
    min-height: 99vh;
    justify-content: center;
    display: flex;
    align-items: flex-start;
    padding: 4rem 2rem;
    flex-direction: row;
    width: 100%;
    gap: 50px;

    .proposalInformation { 
        height:500px;
        width: 250px;
        border: solid 0.5px #C5BCBC;
        
        border-radius: 1rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;

    }
    .proposalDetails {
        height:250px;
        width: 50%;
        border-radius: 1rem;
        border: solid 0.5px #C5BCBC;

    }

    .imageContainer { 
        width: 50%;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    
        
        img { 
            object-fit: contain;
            border-radius: 1rem;

        }

        a { 
            margin-top: 1rem;
            padding: 1rem;
            left: 255px;
            top: 428px;
            color: white;
            background: #16161A;
            border: 1px solid #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            
        }

    }
    button {
        cursor: pointer;
        padding: 0.5rem;
        left: 491px;
        top: 626px;
        font-weight: 800;
        background: linear-gradient(to bottom right, #F2709C, #FF9472);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: none;
        color: #ffff;
        border-radius: 10px;
        transform: rotate(0.03deg);

        transform: translateY(15px);
        transition: all 0.5s ease;

            }
          
          


}