.footer{

        background: transparent;
      //  position: absolute;
      //  bottom: 0;
       height: 80px;
       width: 100%;

        background-color: #ffff;
        color: #000500;
        border-top: 1px solid #b3b3b3;
        .footerContainer {
          max-width: 1440px;
          margin: 0 auto;
          width: 100%;
          height: 100%;
          padding: 1rem 3rem;
          align-items: center;
          display: flex;
          justify-content: space-between;
          h2{
              margin: 0.5rem auto;
          }
        }
}